@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;

}

:root{
  --background-color: #F9FAFB;
  --text-color: #1F2937;

}
body{
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;
}